
{:paths ["src/clojure"]
 :deps {org.clojure/clojure   {:mvn/version "1.10.2-rc3"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}
        clj-http/clj-http     {:mvn/version "3.10.3"}
        hickory/hickory       {:mvn/version "0.7.1"}
        ,}
 :aliases {:repl/cider
           {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.5"}}
            :main-opts  ["-m" "nrepl.cmdline" "-i" "-p" "9000" "--middleware" "[cider.nrepl/cider-middleware]"]
            :jvm-opts   ["-Dclojure.core.async.pool-size=20"]}
           :main
           {:main-opts ["-m" "interfacelift-dl.core"]}
           ,}
 ,}
